parameters:
	ignoreErrors:
		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$appendSchema\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$onExtraProperties\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$onInvalidCharacterProperties\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$onMissingProperties\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$removeOldClasses\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Method Kanti\\\\JsonToClass\\\\Container\\\\JsonToClassContainer\\:\\:get\\(\\) should return T of object but returns object\\.$#"
			count: 1
			path: src/Container/JsonToClassContainer.php
