parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$types of class Kanti\\\\JsonToClass\\\\Attribute\\\\Types constructor expects list\\<list\\<list\\<string\\>\\|string\\>\\|string\\>\\|string, list\\<mixed\\>\\|string given\\.$#"
			count: 1
			path: src/CodeCreator/DevelopmentCodeCreator.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$appendSchema\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$onExtraProperties\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$onInvalidCharacterProperties\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$onMissingProperties\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$removeOldClasses\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$shouldCreateClasses\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Config\\\\Config has an uninitialized readonly property \\$shouldCreateDevelopmentClasses\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Method Kanti\\\\JsonToClass\\\\Container\\\\JsonToClassContainer\\:\\:get\\(\\) should return T of object but returns object\\.$#"
			count: 1
			path: src/Container/JsonToClassContainer.php

		-
			message: "#^Parameter \\#1 \\$possibleAutoloadLocations of static method Kanti\\\\JsonToClass\\\\Container\\\\JsonToClassContainer\\:\\:getClassLoader\\(\\) expects list\\<string\\>, array\\{mixed, literal\\-string&non\\-falsy\\-string, literal\\-string&non\\-falsy\\-string, literal\\-string&non\\-falsy\\-string, literal\\-string&non\\-falsy\\-string\\} given\\.$#"
			count: 1
			path: src/Container/JsonToClassContainer.php

		-
			message: "#^Parameter \\#2 \\$data of method Kanti\\\\JsonToClass\\\\Converter\\\\Converter\\:\\:convertList\\(\\) expects array\\<array\\|stdClass\\>, array given\\.$#"
			count: 1
			path: src/Converter/Converter.php

		-
			message: "#^Method Kanti\\\\JsonToClass\\\\Helpers\\\\F\\:\\:unpackLiterals\\(\\) should return list\\<list\\<string\\>\\|string\\>\\|string but returns list\\<list\\<list\\<string\\>\\|string\\>\\|string\\>\\.$#"
			count: 1
			path: src/Helpers/F.php

		-
			message: "#^Parameter \\#1 \\$argument of static method Kanti\\\\JsonToClass\\\\Helpers\\\\F\\:\\:unpackLiterals\\(\\) expects list\\<list\\<Nette\\\\PhpGenerator\\\\Literal\\|string\\>\\|Nette\\\\PhpGenerator\\\\Literal\\|string\\>\\|Nette\\\\PhpGenerator\\\\Literal\\|string, list\\<mixed\\> given\\.$#"
			count: 1
			path: src/Helpers/F.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: src/Schema/SchemaSimplification.php

		-
			message: "#^Cannot access property \\$className on Kanti\\\\JsonToClass\\\\Schema\\\\NamedSchema\\|null\\.$#"
			count: 1
			path: tests/CodeCreator/DevelopmentCodeCreatorTest.php

		-
			message: "#^Offset 'fields' might not exist on array\\<string, Kanti\\\\JsonToClass\\\\Schema\\\\NamedSchema\\>\\|null\\.$#"
			count: 1
			path: tests/CodeCreator/DevelopmentCodeCreatorTest.php

		-
			message: "#^Parameter \\#1 \\$array of function array_keys expects array, array\\<string, Kanti\\\\JsonToClass\\\\Schema\\\\Schema\\>\\|null given\\.$#"
			count: 1
			path: tests/CodeCreator/DevelopmentCodeCreatorTest.php

		-
			message: "#^Instanceof between Kanti\\\\JsonToClass\\\\CodeCreator\\\\DocBlockUpdater and Kanti\\\\JsonToClass\\\\CodeCreator\\\\DocBlockUpdater will always evaluate to true\\.$#"
			count: 1
			path: tests/CodeCreator/DocBlockUpdaterTest.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Tests\\\\Container\\\\SchemaMerger2000000000 not found\\.$#"
			count: 1
			path: tests/Container/JsonToClassContainerTest.php

		-
			message: "#^Constructor of an anonymous class has an unused parameter \\$x\\.$#"
			count: 2
			path: tests/Container/JsonToClassContainerTest.php

		-
			message: "#^Method class@anonymous/tests/Container/JsonToClassContainerTest\\.php\\:45\\:\\:__construct\\(\\) has parameter \\$x with no type specified\\.$#"
			count: 1
			path: tests/Container/JsonToClassContainerTest.php

		-
			message: "#^Parameter \\#2 \\$data of method Kanti\\\\JsonToClass\\\\Converter\\\\Converter\\:\\:convertList\\(\\) expects array\\<array\\|stdClass\\>, array\\<string, int\\> given\\.$#"
			count: 1
			path: tests/Converter/ConverterTest.php

		-
			message: "#^Class Kanti\\\\JsonToClass\\\\Tests\\\\Converter\\\\__fixture__\\\\ChildClass not found\\.$#"
			count: 1
			path: tests/Converter/__fixture__/ChildClassNotFound.php

		-
			message: "#^Property Kanti\\\\JsonToClass\\\\Tests\\\\Converter\\\\__fixture__\\\\ChildClassNotFound\\:\\:\\$childClass type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Converter/__fixture__/ChildClassNotFound.php

		-
			message: "#^Access to an undefined property Kanti\\\\JsonToClass\\\\Tests\\\\Converter\\\\__fixture__\\\\DtoAllowsDynamicProperties\\:\\:\\$isAdult\\.$#"
			count: 1
			path: tests/Dto/AbstractJsonClassTraitTest.php

		-
			message: "#^Offset 'a' might not exist on array\\<string, Kanti\\\\JsonToClass\\\\Schema\\\\NamedSchema\\>\\|null\\.$#"
			count: 1
			path: tests/Features/FromSchemaToClassAndBackTest.php

		-
			message: "#^Access to an undefined property Kanti\\\\GeneratedTest\\\\Data\\:\\:\\$a\\.$#"
			count: 4
			path: tests/Features/NiceErrorMessagesTest.php
