includes:
  - phpstan-baseline.neon
  - vendor/andersundsehr/phpstan-git-files/extension.php
  - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
  level: max
  reportUnmatchedIgnoredErrors: false
  scanFiles:
    - tests/_helper/Data.php
  ignoreErrors:
    - '#Call to function assert\(\) with true will always evaluate to true\.#'
    - '#Call to method PHPUnit\\Framework\\Assert::.* will always evaluate to true\.#'
